/* =Header
-------------------------------------------------------------- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }

header h1#logo {
    display: inline-block;
	height: 110px;
	position: absolute;
	width: 220px;
	margin-top: 3px; 
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
header .logo img{
		-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	max-width:100%;
}	
header .school_name{
		-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	}	
header nav {
    display: inline-block;
    float: right; }
	
header #headerbottom{
	height: 38px;
	background: #15b994;
}

header #menuzord>ul>li a {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
	  
header #menuzord>ul>li>ul>li a{
	line-height: 13px;
}

header.smaller {
    height: 50px;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    }

header.smaller .logo {
	max-width:0px;
	visibility:hidden;
}
header.smaller .logo img{
	max-width:0px;
}
header.smaller .school_name{
	margin-top:-60px;
	visibility:hidden;
	}	
header.smaller .school_name img{
	}		 
header.smaller #headerbottom{
	height: 38px;
	box-shadow: 0px 2px 3px #dcdcdc;
}	 
header.smaller .menuzord-menu.menuzord-right {
    left: 0;
	top: 17px;}
header.smaller #menuzord>ul>li a {
	padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
      }
	  
header.smaller #menuzord>ul>li>ul>li a {
	  line-height: 13px;
      }	  

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 992px) {
	
	header #menuzord>ul>li a {
	  line-height: 21px;
	  text-align:left;
      }
	 	header.smaller #menuzord>ul>li a {
	  line-height: 21px;
      } 
	  
header.smaller #menuzord>ul>li>ul>li a {
	  line-height: 13px;
      }
header.smaller {
    height: 46px;
}

header.smaller .menuzord-responsive.menuzord {
    margin-top: 27px;
    left: 0px;
}	
header.smaller .menuzord-menu.menuzord-right {
	  left: initial;
    top: 46px;
}  }
@media (max-width: 795px){
header.smaller .menuzord-responsive.menuzord {
    margin-top: 35px;

}}
@media all and (max-width: 660px) {
  /* =Header
  -------------------------------------------------------------- */
header {
  width: 100%;
}
  
  
header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 78px;
	width: 148px;
    text-align: center; }
	
header nav{
	height: 78px;
}

header #headerbottom{
	box-shadow: none;
}

header #menuzord>ul>li a {
      line-height: 21px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
	  
header #menuzord>ul>li>ul>li a{
	line-height: 13px;
}

header.smaller h1#logo {
      height: 78px;
	  width: 148px;
      font-size: 30px; }

header.smaller nav{
	   height: 78px;
}	  

header.smaller #headerbottom{
	height: 111px;
	box-shadow: none;
}

	 
	  
.menuzord .showhide{
	padding-top: 27px;	  
	  
	  }  
}
@media (max-width: 520px){
header.smaller .menuzord-responsive.menuzord {
    margin-top: 40px;
}}
@media all and (max-width: 420px) {
header.smaller .menuzord-responsive.menuzord {
	margin-top: 0px;
	left: 0;}
}